$backgroundColor: #EAE9E4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background: $backgroundColor;
    position: relative;
    .hamburger {
        background: black;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
            div {
                width: 35px;
                height: 5px;
                background: white;
            }
    }
}

