$background-color: #EAE9E4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    background: $background-color;
    position: relative;
}

.hamburger {
    box-sizing: content-box;
    background-color: $black-color;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    padding: 25px 20px;
    position: absolute;

    right: 50px;
    top: 40px;
  z-index: 2;

    div {
        background-color: $line-color;
        width: 40px;
        height: 6px;
        margin-bottom: 6px;
    }
}

main {
  position: relative;
  display: grid;
  grid-template-columns: 95%;
  height: 100vh;
  padding: 3rem;
  margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second-paragraph {
  padding-top: 60px;
}

h6 {
  font-size: 13px;
  padding: 8px;
}

p {
  line-height: 2em;
}

button {
  background: $black-color;
  color: $line-color;
  width: 11rem;
  height: 2.5rem;
  border-radius: 30rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  position: absolute;
}

@media (max-width: 600) {
  h4 {
    width: 5%;
    font-size: 10px;
  }

  h6 {
    padding-top: 3rem;
    width: 10%;
  }
}
